@-webkit-keyframes bgAnimation {
    0% {
        background-position:0% 50%;
    }

    50% {
        background-position:100% 50%;
    }

    100% {
        background-position:0% 50%;
    }
}

@-moz-keyframes bgAnimation {
    0% {
        background-position:0% 50%;
    }

    50% {
        background-position:100% 50%;
    }

    100% {
        background-position:0% 50%;
    }

}

@-o-keyframes bgAnimation {
    0% {
        background-position:0% 50%;
    }

    50% {
        background-position:100% 50%;
    }

    100% {
        background-position:0% 50%;
    }

}

@keyframes bgAnimation { 
    0% {
        background-position:0% 50%
    }

    50% {
        background-position:100% 50%
    }

    100% {
        background-position:0% 50%
    }

}