// Colors

$shadow: #ccc;
$black: #000;
$white: #FFF;
$white-translucent: rgba(255, 255, 255, 0.6);
$red: #D0021B;
$blue-light: rgb(0, 212, 255);
$dark-blue: rgb(87, 87, 172);

// Styles

%bg-errors {
    background: #7e4c7e;
    background: linear-gradient(270deg, #470047, #7e4c7e);
    background-size: 400% 400%;

    -webkit-animation: bgAnimation 10s ease infinite;
    -moz-animation: bgAnimation 10s ease infinite;
    -o-animation: bgAnimation 10s ease infinite;
    animation: bgAnimation 10s ease infinite;
}

@mixin shadow($property) {
    box-shadow: $property;
    -webkit-box-shadow: $property;
    -moz-box-shadow: $property;
    -o-box-shadow: $property;
}

@mixin breakpoint($point) {
    @if $point == xlarge {
        @media screen and (min-width: 1921px) { @content; }
    } @else if $point == desktop {
        @media screen and (min-width: 960px) { @content; }
    } @else if $point == tablet {
        @media screen and (min-width: 768px) and (max-width: 959px) { @content; }
    } @else if $point == mobile {
        @media screen and (max-width: 767px) { @content; }
    } @else if $point == noMobile {
        @media screen and (min-width: 768px) { @content; }
    }
}

@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}