// Variables
@import 'variables';
@import 'animations';

html, body {
    height: 100%;
}

body {
    & > div:first-child {
        overflow-y: auto;
    }

    & > section > div.content, & > footer > div.content {
        max-width: 1920px;
        margin: 0 auto;
        padding: 20px;
    }
}

.app-bg-errors {
    color: $white;
    padding: 10px;
    @extend %bg-errors;
}

.app-register {
    max-width: 300px;
    margin: 0 auto;
    color: $black;
}

#home {
    @include breakpoint(mobile) {
        height: 100%;
        height: calc(100% - 87px);
    }

    & > div:first-child {
        background: {
            image: url('https://www.smithandersen.com/wp-content/uploads/2018/04/3-2-768x432.jpg');
            repeat: no-repeat;
            position: center;
            size: cover;
        }
        width: 100%;
        height: 800px;
        @include breakpoint(mobile) {
            height: 100%;
        }
    }
}

#login {
    background-color: $white-translucent;
    width: 300px;
    margin: 5px;
    padding: 20px 15px;
    border-radius: 10px;
    left: 100px;
    @include vertical-align();
    @include shadow(3px 5px 3px $shadow);
    @include breakpoint(mobile) {
        margin: 0 auto;
        left: 0;
    }

    & img {
        width: 75%;
        margin: 0 auto 10px;
        display: block;
    }
}

#register {
    background: $blue-light;
    background: linear-gradient(317deg, $blue-light 0%, $dark-blue 76%);
}

hr.text-light {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.required::after {
	content: ' *';
	color: $red;
}

.w-md-100 {
    @include breakpoint(mobile) {
        width: 100%;
    }
}