.app-bg-errors {
  background: #7e4c7e;
  background: linear-gradient(270deg, #470047, #7e4c7e);
  background-size: 400% 400%;
  -webkit-animation: bgAnimation 10s ease infinite;
  animation: bgAnimation 10s ease infinite;
}

@-webkit-keyframes bgAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes bgAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

html,
body {
  height: 100%;
}

body > div:first-child {
  overflow-y: auto;
}

body > section > div.content,
body > footer > div.content {
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px;
}

.app-bg-errors {
  color: #FFF;
  padding: 10px;
}

.app-register {
  max-width: 300px;
  margin: 0 auto;
  color: #000;
}

@media screen and (max-width: 767px) {
  #home {
    height: 100%;
    height: calc(100% - 87px);
  }
}

#home > div:first-child {
  background-image: url("https://www.smithandersen.com/wp-content/uploads/2018/04/3-2-768x432.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 800px;
}

@media screen and (max-width: 767px) {
  #home > div:first-child {
    height: 100%;
  }
}

#login {
  background-color: rgba(255, 255, 255, 0.6);
  width: 300px;
  margin: 5px;
  padding: 20px 15px;
  border-radius: 10px;
  left: 100px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  box-shadow: 3px 5px 3px #ccc;
  -webkit-box-shadow: 3px 5px 3px #ccc;
  -moz-box-shadow: 3px 5px 3px #ccc;
  -o-box-shadow: 3px 5px 3px #ccc;
}

@media screen and (max-width: 767px) {
  #login {
    margin: 0 auto;
    left: 0;
  }
}

#login img {
  width: 75%;
  margin: 0 auto 10px;
  display: block;
}

#register {
  background: #00d4ff;
  background: linear-gradient(317deg, #00d4ff 0%, #5757ac 76%);
}

hr.text-light {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.required::after {
  content: " *";
  color: #D0021B;
}

@media screen and (max-width: 767px) {
  .w-md-100 {
    width: 100%;
  }
}

